.select-component-wrapper {
  .button-wrapper {
    > button {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    > button:hover {
      height: 53px;
      width: 53px;
    }
  }
}

.stats-wrapper {
  height: 850px;
  padding: 200px 100px;

  .heading {
    font-weight: lighter;
    color: white;
    font-size: x-large;
    line-height: 70px;
  }

  #artist-list {
    position: relative;

    .common-artists {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

      .col {
        flex: 0 0 auto;
      }

      .artist {
        margin: 0px 15px;

        img {
          height: 200px;
          width: 200px;
        }

        .artist-name {
          line-height: 40px;
          color: white;
        }
      }
    }

    .common-artists::-webkit-scrollbar {
      width: 0 !important;
    }

    .arrow {
      color: rgb(189, 201, 243);
      position: absolute;
    }

    .arrow:hover {
      color: white;
    }

    #left-arrow {
      left: -40px;
      top: 150px;
    }

    #right-arrow {
      right: -40px;
      top: 150px;
    }
  }

  .common-list {
    color: white;
    font-size: large;
    height: 350px;
    overflow-y: scroll;
    margin-top: 20px;

    .image-wrapper {
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}
