@use "src/colors";

.select-component-wrapper {
  padding: 40px 60px;

  .button-wrapper {
    > button {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: auto;
      margin-top: 5px;
    }

    > button:hover {
      margin-top: 4px;
      height: 52px;
      width: 52px;
    }
  }
}

.stats-wrapper {
  padding: 10px 60px;

  .stat-title {
    color: white;
    font-size: larger;
    font-weight: 400;
    margin-bottom: 10px;

    .badge {
      margin-left: 10px;
      font-weight: 200;
    }
  }

  .similarity-score {
    margin-bottom: 40px;
    color: white;

    .bg-green {
      background-color: colors.$spotify-green;
      font-weight: 500;
      font-size: 3rem;
    }
  }

  .track-list-wrapper {
    background-color: colors.$background-grey;
    border-radius: 15px;
    padding: 15px 0px;

    .track-list {
      position: relative;
      min-width: 400px;
      max-width: 580px;
    }
  }
}
