@use "src/colors";

.select-component-wrapper {
  padding: 40px 60px;

  .button-wrapper {
    > button {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: auto;
      margin-top: 5px;
    }

    > button:hover {
      margin-top: 4px;
      height: 52px;
      width: 52px;
    }
  }
}

.stats-wrapper {
  padding: 40px 60px;

  .stat-title {
    color: white;
    font-size: larger;
    font-weight: 400;
    margin-bottom: 10px;

    .badge {
      margin-left: 10px;
      font-weight: 200;
    }
  }

  .similarity-score {
    margin-bottom: 40px;
    color: white;

    svg {
      margin-left: 3px;
    }

    .similarity-wrapper {
      border-radius: 10px;
      background-color: colors.$background-indigo;
      font-weight: 500;
      font-size: 4rem;
      line-height: 105px;
      width: 170px;
      margin-left: 5px;
    }
  }
}
