<div class="container fill-height playlist-similarity">
  <div class="row gx-5 select-component-wrapper">
    <div class="col select-wrapper" id="select-wrapper-left">
      <app-selector
        class="row"
        [loading$]="selectorLoading$"
        [options$]="selectorOptions$"
        [config]="selectorConfig"
        (selectedEvent)="selectLeft($event)"></app-selector>
      <app-card
        *ngIf="leftPlaylist.id"
        [image]="leftPlaylist.img"
        [title]="leftPlaylist.name"
        [description]="leftPlaylist.description ? leftPlaylist.description : ''"
        [footer]="(leftPlaylist.tracksCount?.toString() ? leftPlaylist.tracksCount.toString() : '0') + ' tracks'"
        @slideInOut></app-card>
    </div>
    <div class="col-1 justify-content-center">
      <div class="row align-items-center button-wrapper">
        <button type="button" class="btn btn-primary shadow-sm" (click)="comparePlaylists($event)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path
              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
            <path
              fill-rule="evenodd"
              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="col select-wrapper" id="select-wrapper-right">
      <app-selector
        class="row"
        [options$]="selectorOptions$"
        [config]="selectorConfig"
        (selectedEvent)="selectRight($event)"></app-selector>
      <app-card
        *ngIf="rightPlaylist.id"
        [image]="rightPlaylist.img"
        [title]="rightPlaylist.name"
        [description]="rightPlaylist.description ? rightPlaylist.description : ''"
        [footer]="(rightPlaylist.tracksCount?.toString() ? rightPlaylist.tracksCount.toString() : '0') + ' tracks'"
        @slideInOut></app-card>
    </div>
  </div>
  <div class="row gx-5 stats-wrapper" *ngIf="showStats" @slideInOut>
    <div class="col-3">
      <div class="position-sticky" style="top: 40px">
        <div class="row similarity-score">
          <span class="stat-title"
            >Similarity Score
            <svg
              type="button"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-info-circle-fill"
              viewBox="0 0 16 16">
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </svg>
          </span>
          <div class="similarity-wrapper text-center shadow">
            <span>{{ totalSimilarity }}</span>
          </div>
        </div>
        <div class="row">
          <span class="stat-title">
            Common Genres<span class="badge text-bg-dark">{{ commonGenres.length }}</span>
          </span>
          <app-tag-cloud [tags]="commonGenres"></app-tag-cloud>
        </div>
      </div>
    </div>
    <div class="tracks-wrapper col-5">
      <div class="row">
        <span class="stat-title">
          Common Tracks<span class="badge text-bg-dark">{{ commonTracks.length }}</span>
        </span>
        <app-track-list [tracks]="commonTracks"></app-track-list>
      </div>
    </div>
    <div class="artists-wrapper col-4">
      <div class="row">
        <p class="stat-title">
          Common Artists<span class="badge text-bg-dark">{{ commonArtists.length }}</span>
        </p>
        <app-card-group [items]="commonArtists"></app-card-group>
      </div>
    </div>
  </div>
</div>
