<div class="container-fluid fill-height page" id="playlist-similarity">
  <div class="row select-component-wrapper">
    <div class="col select-wrapper" id="select-wrapper-left">
      <app-playlist-select [playlists]="playlists" [type]="'list'" (selectedEvent)="selectLeft($event)"></app-playlist-select>
    </div>
    <div class="col-sm-1 justify-content-center">
      <div class="row align-items-center button-wrapper">
        <button type="button" class="btn btn-primary" (click)="comparePlaylists($event)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path
              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
            <path
              fill-rule="evenodd"
              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="col" id="select-wrapper-right">
      <app-playlist-select [playlists]="playlists" [type]="'list'" (selectedEvent)="selectRight($event)"></app-playlist-select>
    </div>
  </div>
  <div class="stats" id="stats-wrapper" *ngIf="showStats">
    <div class="row">
      <div class="col-sm-6 common-list" id="common-tracks">
        <div class="row">
          <span class="heading">COMMON TRACKS</span>
          <ol *ngIf="commonTracks.length > 0">
            <li class="common-track" *ngFor="let track of commonTracks">{{ track.name }} - {{ track.artist.name }}</li>
          </ol>
        </div>

        <div class="row">
          <span class="heading">COMMON GENRES</span>
          <ol *ngIf="commonGenres.length > 0">
            <li class="common-genre" *ngFor="let genre of commonGenres">
              {{ genre }}
            </li>
          </ol>
        </div>
      </div>
      <div class="col common-list" id="common-artists">
        <span class="heading">COMMON ARTISTS</span>
        <ol *ngIf="commonArtists.length > 0">
          <li class="common-artist" *ngFor="let artist of commonArtists">
            <div class="image vcenter">
              <img [src]="artist.img" />
            </div>
            {{ artist.name }}
          </li>
        </ol>
      </div>
      <div class="col" id="percent-similar">
        <p>{{ percentSimilar }}%</p>
        <p>similar</p>
      </div>
    </div>
  </div>
</div>
