@use "src/colors";

.card {
  padding: 15px;
  border-radius: 10px;
  border: none !important;
  cursor: default;

  img {
    border-radius: 10px;
  }

  .card-body {
    padding: 0px;
    max-width: 175px;

    .card-title {
      margin: 0px;
      font-size: 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .text-muted {
      font-size: 13px;
    }
  }

  .check-wrapper {
    position: absolute;
    top: 12px;
    right: 12px;
    color: colors.$text-grey-hover;
    cursor: pointer;
  }

  .check-wrapper.selected {
    color: colors.$spotify-green !important;
  }

  .check-wrapper:hover {
    color: white;
  }
}

.card:hover {
  background-color: colors.$highlight-grey !important;
}
