@use "src/colors";

.custom-select {
  background-color: white;
  position: relative;
  border-radius: 25px;
  height: 50px;
  min-width: 400px;
  max-width: 575px;
  padding: 0px;
}

.show-options-wrapper {
  background-color: white;
  position: absolute;
  overflow-y: hidden;
  height: 50px;
  min-height: 50px;
  max-height: 325px;
  width: 100%;
  border-radius: 25px;
  transition: height 0.25s;
  z-index: 1;
}

input {
  cursor: text !important;
  margin-left: 20px;
  width: 100%;
  border: none;
  outline: none !important;
  line-height: 28px;
}

input:read-only {
  cursor: pointer;
}

.select-trigger {
  height: 50px;

  .clear-x {
    > svg {
      float: right;
    }
  }

  .selector-arrow {
    margin-right: 15px;

    > svg {
      transform: rotate(0deg);
      transition: transform 0.25s;
      float: right;
    }
  }

  .selector-arrow.expanded {
    > svg {
      transform: rotate(-180deg);
    }
  }

  .magnifier {
    margin-right: 20px;

    > svg {
      float: right;
    }
  }
}

.options-wrapper {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;

  > .select-options {
    padding: 0px;
    margin-bottom: 0px;

    > .option {
      cursor: pointer;
      list-style-type: none;
      line-height: 50px;
      padding: 0px;

      > .option-title {
        padding: 0px 25px;
        color: colors.$background-grey;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 425px;

        > .name {
          margin-left: 5px;
        }
      }
    }

    > .option.highlighted {
      background-color: rgb(240, 240, 240);

      .highlight {
        background-color: colors.$spotify-green;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 50px;
        width: 3px;
      }
    }

    > .option.selected {
      .option-title {
        color: colors.$spotify-green;
      }
    }

    > .option:hover {
      .option-title {
        color: rgb(150, 150, 150);
      }
    }

    > .message-option {
      cursor: default;
      list-style-type: none;
      line-height: 50px;
      padding: 0px 25px;
    }
  }
}
