<div class="custom-select" [attr.id]="selectorId" (focusout)="onSelectFocusout($event)">
  <div type="button" class="select-trigger row align-items-center justify-content-between">
    <div class="col-10 selector-text" (click)="config.allowSearch ? toggleShowOptions(true) : toggleShowOptions()">
      <input
        type="text"
        [readonly]="!config.allowSearch"
        [placeholder]="config.placeholder"
        [(ngModel)]="searchModel"
        (keyup)="onInput($event)"
        (focus)="onInputFocus($event)"
        (blur)="onInputBlur($event)"
        (click)="onInputClick($event)" />
    </div>
    <div class="col selector-arrow" [ngClass]="{ 'expanded': showOptions }" (click)="toggleShowOptions()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
        <path
          fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
      </svg>
    </div>
  </div>
  <div class="options-wrapper">
    <ul *ngIf="showOptions" class="select-options">
      <li
        class="option"
        *ngFor="let option of filteredOptions; let i = index"
        [id]="option.index"
        [ngClass]="{ 'highlighted': searching && i == 0, 'selected': selectedIndex == option.index }"
        (mousedown)="selectOption(option.index)">
        <span class="name">{{ option.name }}</span>
      </li>
      <li class="message-option" *ngIf="options.length == 0">This list is empty</li>
      <li class="message-option" *ngIf="options.length != 0 && filteredOptions.length == 0">No results match "{{ searchModel }}"</li>
    </ul>
  </div>
</div>
