@use "src/colors";

.tag {
  background-color: colors.$background-grey;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-weight: 100;
  white-space: nowrap;
  cursor: default;
}

.tag:hover {
  background-color: colors.$highlight-grey;
}

.all-button {
  background-color: colors.$background-grey-4;
  cursor: pointer;
}

.all-button:hover {
  background-color: colors.$highlight-grey-4;
}
