@use "src/colors";

.card {
  border: none;
  border-radius: 20px;
  max-width: 540px;
  margin: auto;
  margin-top: 25px;
  overflow: hidden;
  box-shadow: 0 0.75rem 2rem rgba(black, 0.16);
  transition: margin-top, 0.25s;
  cursor: default;
}

.card:hover {
  background-color: colors.$highlight-grey !important;
  margin-top: 24px;
  box-shadow: 0 1rem 3rem rgba(black, 0.175);
}
