@use "src/colors";

.list-item {
  background-color: colors.$background-grey;
  color: white;
  list-style-type: none;
  cursor: pointer;
  padding: 10px 25px;
}

.list-item:hover {
  background-color: colors.$highlight-grey;
}

.list-item.selected {
  background-color: colors.$highlight-grey-4 !important;
}

.list-item.readonly {
  cursor: default;
}

.vcenter {
  margin-top: auto;
  margin-bottom: auto;
}

img {
  height: 55px;
  width: 55px;
}

.track-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px;
  max-width: 315px;
}

.heart {
  margin-right: 5px;
}

.playlist-check {
  color: colors.$spotify-green;

  svg {
    float: right;
  }
}
