.list-type.list-item {
  background-color: rgb(255, 255, 255);
  color: rgb(15, 15, 15);
  border-radius: 5px;
  cursor: default;
  list-style-type: none;
  line-height: 60px;
  margin-top: 15px;
  animation: 0.75s slide-up ease-out;
}

.list-type .list-item:hover {
  background-color: rgb(245, 245, 245);
}

.detail {
  color: rgb(163, 163, 163);
  font-size: smaller;
}

.vcenter {
  margin-top: auto;
  margin-bottom: auto;
}

img {
  height: 42px;
  width: 42px;
}

.list-type .track-id {
  color: rgb(163, 163, 163);
}

.track-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.track-artist {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 15px;
  }
}
