<li class="container list-item">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-sm-2 image vcenter shadow-sm">
          <img [src]="trackData.img" />
        </div>
        <div class="col">
          <p class="track-text">
            {{ trackData.name }}
          </p>
          <p class="track-text">
            <small class="text-muted">{{ trackData.artist.name }}</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-2 vcenter">
      <p class="track-text" style="float: right">
        <small class="text-muted">{{ trackData.duration }}</small>
      </p>
    </div>
  </div>
</li>
