<div class="container-fluid fill-height track-distribution">
  <div class="row gx-4 select-component-wrapper">
    <div class="col-5 select-wrapper">
      <app-selector
        class="row"
        [loading$]="selectorLoading$"
        [options$]="selectorOptions$"
        [config]="selectorConfig"
        (selectedEvent)="select($event)"
        (searchEvent)="search($event)"></app-selector>
    </div>
  </div>
  <div class="row gx-4 playlist-wrapper">
    <div class="col-4" *ngFor="let playlist of trackPlaylists">
      <app-card
        *ngIf="playlist.id"
        [image]="playlist.img"
        [title]="playlist.name"
        [description]="playlist.description ? playlist.description : ''"
        [footer]="(playlist.tracks?.length?.toString() ? playlist.tracks.length.toString() : '0') + ' tracks'"></app-card>
    </div>
  </div>
</div>
