.form-select {
    background-color: rgb(72, 72, 72);
    border-width: 0px;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: auto;
}

.custom-select {
    background-color: white;
    position: relative;
    border-radius: 25px;
    height: 50px;
    transition: height 0.25s;
    overflow-y: hidden;
}

.custom-select.selected {
    height: 350px;
}

.select-trigger {
    position: relative;
    height: 50px;
}

.options-wrapper {
    height: 250px;
    overflow-y: auto;
}

.select-options {
    position: relative;
}

.select-item {
    cursor: default;
    list-style-type: none;
    line-height: 50px;
}

.select-item:hover {
    color: rgb(80, 175, 69);
}

.track-list-wrapper {
    margin-top: 30px;
    height: 350px;
    overflow-y: auto;
}

.track-count {
    color: white;
    margin-top: 12px;
    margin-bottom: 0px !important;
}

.bottom-fade {
    position: relative;
    bottom: 43px;
    height: 20px;
    width: inherit;
    background-image: linear-gradient(to top, rgba(41, 65, 171, 1), rgba(41, 65, 171, 0));
}