.form-select {
    background-color: rgb(72, 72, 72);
    border-width: 0px;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: auto;
}

.custom-select {
    position: relative;
}

.select-item {
    background-color: rgb(30, 30, 30);
}