<div class="container-fluid fill-height page">
  Move all tracks to single playlist option
  <div class="row select-component-wrapper">
    <app-selector
      class="row"
      [options$]="selectorOptions$"
      [config]="selectorConfig"
      (selectedEvent)="selectPlaylist($event)"></app-selector>
    <!-- <app-playlist-select
      [playlists]="playlists"
      [type]="'table'"
      (selectedEvent)="selectPlaylist($event)"
      (authError)="handleAuthError($event)"></app-playlist-select> -->
  </div>
</div>
