<div class="container-fluid fill-height distribute-tracks">
  <div class="row select-component-wrapper">
    <div class="col-5 select-wrapper">
      <app-selector
        class="row"
        [loading$]="selectorLoading$"
        [options$]="selectorOptions$"
        [config]="selectorConfig"
        (selectedEvent)="selectPlaylist($event)"></app-selector>
    </div>
  </div>
  <div class="row g-4">
    <div class="col-7 tracks-wrapper">
      <div class="row">
        <app-track-list
          *ngIf="playlist.tracks.length > 0"
          [tracks]="playlist.tracks"
          [checkedTracks]="getKeys(this.tracksToMap)"
          [config]="trackListConfig"
          (selectedEvent)="selectTrack($event)"
          @slideInOut></app-track-list>
      </div>
    </div>
    <div class="col mapping-wrapper" *ngIf="track.index != -1">
      <div class="row">
        <app-card
          [image]="track.img"
          [title]="track.name"
          [description]="''"
          [footer]="playlistCount > 1 ? playlistCount + ' playlists' : 'Only on this playlist'"
          @slideInOut></app-card>
      </div>
      <div class="row">
        <app-playlist-list [playlists]="allPlaylists" (selectedEvent)="setMappedPlaylists($event)" @slideInOut></app-playlist-list>
      </div>
    </div>
  </div>
</div>
