@use "src/colors";

.navbar {
  padding-top: 40px;
  margin-bottom: 20px;
  height: 80px;

  .navbar-brand {
    margin: auto 100px auto 60px;

    .brand-name {
      margin-left: 8px;
      font-size: 1.5rem;
    }
  }

  .dropdown {
    .dropdown-menu {
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      transform: translateY(5px);

      border-radius: 20px;
      font-size: 14px;
      padding: 20px;
      width: 400px;
      height: 340px;
      border: none;

      .dropdown-menu-item {
        margin: auto 0px 5px 0px;
        border-radius: 10px;
        padding: 5px 10px;

        .nav-option {
          color: colors.$background-indigo;

          svg {
            margin: 5px;
          }

          p {
            color: colors.$text-grey;
            margin: 0px;

            small {
              color: colors.$text-grey-2;
            }
          }
        }

        .nav-option.disabled {
          color: colors.$text-grey-1;

          p {
            color: colors.$text-grey-2;

            small {
              color: colors.$text-grey-1;
            }
          }
        }
      }

      .dropdown-menu-item.disabled {
        background-color: white !important;
      }

      .dropdown-menu-item:hover,
      .dropdown-menu-item.active {
        background-color: colors.$highlight-white;
      }
    }
  }

  .dropdown:hover {
    .nav-option-title {
      opacity: 0.75 !important;
    }

    .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
