.nav-wrapper {
    background-color: rgb(29, 47, 122) !important;
    height: 200px;
}

.navbar {
    background-color: rgb(29, 47, 122) !important;
    height: 80px;
}

.dropdown-menu {
    background-color: white;
    font-size:14px;
}

.dropdown-menu:hover {
    background-color: white;
    color: rgb(80, 175, 69);
}

.nav-option {
    color: black !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.nav-option:hover {
    color: rgb(80, 175, 69) !important;
}

.header {
    padding-bottom: 50px; 
    padding-left: 20px;
    padding-top: 20px;
}

.headline {
    color: white;
    font-weight: semi-bold;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    // margin-top: 50px;
}