$spotify-green: rgb(80, 175, 69);

$text-white: rgb(255, 255, 255);
$text-grey: rgb(46, 50, 54);
$text-grey-hover: rgb(111, 115, 119);

$background-blue: rgb(41, 65, 171);
$background-indigo: rgb(29, 47, 122);
$background-grey-1: rgb(236, 240, 244);
$background-grey-2: rgb(166, 170, 174);
$background-grey-3: rgb(73, 77, 81);
$background-grey-4: rgb(53, 57, 61);
$background-grey: rgb(33, 37, 41);

$highlight-white: rgb(236, 240, 244);
$highlight-grey-1: rgb(241, 245, 249);
$highlight-grey-2: rgb(171, 175, 179);
$highlight-grey-3: rgb(78, 82, 87);
$highlight-grey-4: rgb(58, 62, 67);
$highlight-grey: rgb(38, 42, 46);
$highlight-indigo: rgb(25, 42, 107);
