.list-item {
    background-color: rgb(255, 255, 255);;
    color: rgb(15, 15, 15);
    border-radius: 5px;
    cursor: default;
    list-style-type: none;
    line-height: 60px;
    margin-top: 15px;
    animation: 0.75s slide-up ease-out;
}

.list-item:hover {
    // background-color: rgb(31, 31, 31);
}

.detail {
    color: rgb(163, 163, 163);
    font-size: smaller;
}

.vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

.square {
    height: 35px;
    width: 35px;
    background-color: aliceblue;
}

.track-id {
    color: rgb(163, 163, 163);
}

.track-name {
    margin-left: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.track-artist {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes slide-up {
    from {
      margin-top: 100%;
    }
    to {
      margin-top: 15px;
    }
  }