<li class="container list-item"> 
    <div class="row">
        <div class="col-sm-1 track-id vcenter">
            0{{trackData.id}}
        </div>
        <div class="col-sm-1 image vcenter">
            <div class="square"></div>
        </div>
        <div class="col track-name">
            {{trackData.name}}
        </div>
        <div class="col detail">
            {{trackData.artist}}
        </div>
        <div class="col-sm-1 detail vcenter">
            {{trackData.duration}}
        </div>
    </div>
</li>
